<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ch.bbbaden.choreapp">

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".ChoreApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <service
            android:name=".widgets.ChoresService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".widgets.ChoresWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <activity android:name=".parent.child.ChildDetailActivity" />
        <activity android:name=".parent.chore.ChoreDetailActivity" />
        <activity android:name=".child.ChildActivity" />
        <activity
            android:name=".signin.SignInActivity"
            android:noHistory="true" />
        <activity
            android:name=".LauncherActivity"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".parent.ParentActivity" />

        <receiver android:name=".widgets.ChoresWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/chores_widget_info" />
        </receiver>
    </application>

</manifest>